body, p, h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Verdana', sans-serif; */
    font-family: 'SF Pro Display', sans-serif;
}
body {
    font-size: 16px;
}

.header-section-number {
    color: inherit;
}

/* removing extra space in headers */
.quarto-title-banner {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.quarto-title-meta {
    display: block !important;
    text-align: right;
}

.quarto-title-meta-heading {
    margin-top: 0px !important;
}
.quarto-banner-title-block {
    margin-top: 0px;
}

/* floating images */
.float-figure {
    float: left;
    margin-right: 20px; /* adjust the margin for spacing */
    width: 40%; /* adjust figure width */
}

.quarto-about-jolla p, ul, li {
    text-align: left;
}

/* tables formatting */
.dataframe tr, th, td {
    font-size: 13px;
}

