body, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Verdana', sans-serif;
}

.float-figure {
    float: left;
    margin-right: 20px; /* adjust the margin for spacing */
    width: 40%; /* adjust figure width */
}

.quarto-about-jolla p, ul, li {
    text-align: left;
}

